@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import 'material-symbols';


$notetook-bg-color: #ffdfc6;
$notetook-content-color: rgba(255, 255, 255, 0.623);
$Note-color:#ffc370;
$fav-color: yellow;
$notfav-color: white;
$move-trash:#FF9800;
$delete:red;
$revoke:#4793AF;
$p-color:rgb(255, 255, 255);
$content-height:600px;
 
html, body,#root,.App {
    height: 100%;
    margin: 0;
    background-color: $notetook-bg-color;
  }
.flexCenter{
    display: flex;
    justify-content: center;
}


#header{
    width: 100%;
    @extend.flexCenter;
    img{
        padding-top: 40px;
        height: 180px;
        width: 300px
    }
}

#Navbar{
    @extend .flexCenter;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: $notetook-bg-color;

    #Navtab{ 
        width: 60%;
        nav{
            display: flex;
            justify-content: space-around;
            button {
                font-size: 20px;
                color:#a882ef;
                width: 150px;
                height: 50px;
                border-radius: 30px;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                &:hover {
                    translate: 0px -10px;
                    transition-duration:1s;
                    scale: 110%;
                }
            }
            .activeButton{
                background-color: #3B3486;
                color:white;
               
                
            }
            .inactiveButton{
             background-color: #332941;
            }
        }
    }
}

#ContentContainer{
    #Content{
        width: 80%;
        @extend.flexCenter;
        height: 95%;
        border-radius: 20px;
        align-items: center;
        background-color: $notetook-content-color;
        padding-bottom: 100px;
        #Notes{
            margin-top: 100px;
            width: 80%;
            height: 100%;
            #inputDiv{
                
                align-items: center; 
                @extend.flexCenter;
                width: 100%;
               #inputs{
                display: flex;
                justify-content: center;
                width: 60%;
                #input {
                    font-size: 20px;
                    font-weight: bold;
                    padding: 6px 25px;
                    width: 50%;
                    outline: none;
                    background: #FEFEFE;
                    color: #c2c4cf;
                    border: 4px solid ;
                    border-radius: 20px;
                    box-shadow: 3px 3px 2px 0px #E2E2E2;
                    transition: .3s  
                }  
                #input:focus {
                    background: #ffffff;
                    border: 4px solid #ddebff;
                    border-radius: 20px;
                }
                
                #input::placeholder {
                    color: #DDDDDD;
                }
                #add {
                    
                    margin-top: 5px;
                    margin-left: 40px;
                    min-width: 130px;
                    height: 40px;
                    color: #ffff;
                    padding: 5px 10px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;
                    display: inline-block;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
                    background: #332941; 
                    z-index: 1;
                  }
                #add:hover:after {
                    width: 100%;
                    left: 0;
                    
                  }
                  #add:after {
                    color :#3B3486;
                    border-radius: 5px;
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    top: 0;
                    z-index: -1;
                    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
                    transition: all 0.3s ease;
                    background-color: #3B3486;
                    right: 0;
                  }
                  #add:active {
                    top: 2px;
                  }
               }
            }
            
            #notfound{
                margin-top: 20px;
                font-size: 20px;
                @extend.flexCenter;
            }
        }
    }
} 

.Favories{
    width: 80%;
    height: 100%;
    margin-top: 50px;

}
.Trash{
    width: 80%;
    height: 100%; 
    margin-top: 50px;

}
 
 
.NoteComp{
height: 180px;
width: 180px;
margin-top: 10px;
@extend.flexCenter;
align-items: center;
border-radius: 15px;
background-color: $Note-color;
.NoteContainer{
    padding: 15px;
    height: 100%;
    position: relative;
    width: 95%;


    #note{
        color: $p-color;
        word-break: break-all; // Metni herhangi bir karakterden bağımsız olarak böler 
        width: 95%;
        height: 90%;
    }
    #MoveTrash{
        position: absolute;
        left:  0px;
        font-size: 30px;
        bottom: 0;
        margin-bottom: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    .fav{
        color:#ffff31;
        font-size: 30px;
        position: absolute;
        right:  0px;
        bottom: 0;
        margin-bottom: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    .notfav{
        color:#4905a7;
        font-size: 30px;
        position: absolute;
        right:  0px;
        bottom: 0;
        margin-bottom: 10px;
        &:hover{
            cursor: pointer;
        }

    }
    .delete{
        color: $delete;
        position: absolute;
        right:  0px;
        margin-right: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    .revoke{
        color: $revoke;
        &:hover{
            cursor: pointer;
        }
    }
}
} 

#Intro
{
    position: relative;
    height: 100%;
    @extend .flexCenter;
    align-items: center; 
    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #542E71;
        background-image: url('https://cdn-icons-png.flaticon.com/512/200/200389.png');
        background-repeat: space;
        background-size: 140px 150px;  
        opacity: 0.5;
     }
    #DrawOutlineButton{
        width: 300px;
        height: 150px;
        font-size: 48px;
        margin-left: 20px;
        span{
            background-color: #332941;
        }
        h1{
            font-size: 55px;
            color: #ffffff;
        }
    }

    
}

#Logodiv{
    
    h2{
        font-size: 60px;
        font-weight: bold;
    }
}

#Footer {
    height: 100px;
    position: relative;
    div{
        color: rgb(146, 146, 146);
        margin-right: 35px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 10px;
        opacity: 50%;
        padding-bottom: 20px;
    }
     
}
 

